.tab-x{
  background-color: #d0f9f2;
  border-radius: 13px;
  min-height: 450px;
}

.div-tab-x{
	padding: 11px;padding-top: 20px;
}
@media (max-width: 691px) {
  .tab-x{
    background-color: #fff;
    border-radius: 0px;
    padding-top: 10px;
    min-height: 0px;
  }
}